<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
  <div class="container">
          <li><%= link_to("Sign in with Google", user_google_oauth2_omniauth_authorize_path, method: :post ) %> </li>
          <li><%= link_to("Sign in with Github", user_github_omniauth_authorize_path, method: :post ) %> </li>
          <li><%= link_to("Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post ) %> </li>
          <li><%= link_to("Sign in with Twitter", user_twitter_omniauth_authorize_path, method: :post ) %> </li>
  </div>
</div>
